<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addIngredient(f)" #f="ngForm">
      <div class="row">

        <div class="col-sm-5 col-xs-8 form-group">
          <label for="name">Name</label>
          <input ngModel name="name" required
            type="text" id="name" class="form-control">
        </div>

        <div class="col-sm-2 col-xs-4 form-group">
          <label for="amount">Amount</label>
          <input ngModel name="amount" required pattern='^[1-9]+[0-9]*$'
            type="number" id="amount" class="form-control">
        </div>

        <div class="col-xs-12">
          <button class="btn btn-success" type="submit"
            [disabled]="!f.valid"
            >{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button"
            (click)="clearForm()"
            >Cancel</button>
        </div>

      </div>
    </form>
  </div>
</div>
