<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        
        <div class="col-sm-5 col-xs-8 form-group">
          <label for="name">Name</label>
          <input #name type="text" id="name" class="form-control">
        </div>
        
        <div class="col-sm-2 col-xs-4 form-group">
          <label for="amount">Amount</label>
          <input #amount type="number" id="amount" class="form-control">
        </div>

        <div class="col-xs-12">
          <button (click)="addIngredient(name.value, amount.value)" 
                  class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>

      </div>
    </form>
  </div>
</div>