<div class="row">
  <div class="col-md-12">
    <div class="btn btn-success">Save</div>
    <div class="btn btn-danger">Cancel</div>
  </div>
  <div class="col-md-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- name -->
        <label for="name">Name</label>
        <input id="name" class="form-control"
          formControlName="name">
        <!-- imagePath -->
        <label for="imagePath">Image URL</label>
        <input id="imagePath" class="form-control"
          formControlName="imagePath">
        <!-- imagePreview -->
        <img src="" alt="" class="img-responsive">
        <!-- Description -->
        <label for="description">Description</label>
        <textarea id="description" rows="5" class="form-control"
          formControlName="description">
        </textarea>
        <!-- ingredients -->
        <label for="ingredients">Ingredients</label>
        <div id="ingredients" class="row">
          <!-- name -->
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Ingredient">
          </div>
          <!-- amount -->
          <div class="col-md-2">
            <input type="number" class="form-control" placeholder="qty">
          </div>
          <!-- delete -->
          <div class="col-md-2">
            <button type="button" class="btn btn-danger">X</button>
          </div>
        </div>
      </div>
    </form>
    <pre>{{ recipeForm.value | json }}</pre>
  </div>
</div>
