<div *ngIf="detailToShow" class="row">
  <div class="col-xs-12">
    <img src="{{ detailToShow.imagePath }}" alt="{{ detailToShow.name }}" class="img-responsive">
  </div>

  <div class="col-xs-12">
    <h1>{{ detailToShow.name }}</h1>
  </div>

  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle"
      type="button"
      >Manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12">
      {{ detailToShow.description }}
  </div>

  <div class="col-xs-12">
    Ingredients
  </div>

</div>

<div *ngIf="!detailToShow">
  <p class="text-warning">Please, click on one Recipe to see its details.</p>
</div>
