<div *ngIf="recipe" class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive">
  </div>

  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>

  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle"
      type="button"
      >Manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="addToCart()">Add to Shopping List</a></li>
        <li><a [routerLink]="['edit']">Edit</a></li>
        <li><a (click)="deleteRecipe()">Delete</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12">
      {{ recipe.description }}
  </div>

  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>

</div>

<div *ngIf="!recipe">
  <p class="text-warning">Please, click on one Recipe to see its details.</p>
</div>
